@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);


webfont()
	font-family 'Noto Sans JP', sans-serif
	@media (max-width: 980px)
		font-family sans-serif


body
	font-family sans-serif
	color #333
	background-color #f1f1f1


.clearfix
	&after
		content ""
		clear both
		display block


h1, h2, h3, h4, h5, h6
	webfont()


.container
	max-width 970px
	width 100%
	margin 0 auto
	&::after
		content ""
		clear both
		display block

.main-area
	float left
	width 70%
	@media (max-width: 980px)
		float none
		width 100%

.side-area
	float right
	width 28%
	@media (max-width: 980px)
		float none
		width 100%


.post-container
	padding 30px
	margin-bottom 60px
	background-color #fff
	@media (max-width: 980px)
		padding 30px
		margin 10px 10px 30px 10px
		background-color #fff

.post-title
	margin 2em 0 1em 0
	h2, h2 a
		font-size 3.4vmin
		line-height 1.3
		@media (max-width: 767px)
			font-size 5.2vmin

.post-content
	div, p, ul, ol, dl
		padding-bottom 1em
		&:last-child
			padding-bottom 0
	h1,h2,h3,h4,h5,h6, li, dt, dd
		padding-bottom 0.5em
		&:last-child
			padding-bottom 0
	h1,h2,h3,h4,h5,h6, div, p, li, dt, dd, a, span, blockquote
		font-size 2.4vmin
		line-height 1.5
		@media (max-width: 767px)
			font-size 4vmin
	.b
		margin-bottom 2em
	blockquote
		position relative
		padding 0.5em 10px 0.5em 40px
		box-sizing border-box
		font-style italic
		color #464646
		background #fff4db
		border-top solid 3px #ffd596
		&:before
			display inline-block
			position absolute
			top 0
			left 0
			width 32px
			height 30px
			vertical-align middle
			text-align center
			color #FFF
			line-height 30px
			background #ffd596
			content "\f10d"
			font-family FontAwesome
			font-size 2.4vmin
			@media (max-width: 767px)
				font-size 4vmin
